svg {
      font: 10px sans-serif;
}

.background path {
      fill: none;
              stroke: #ccc;
                        stroke-opacity: .4;
                          shape-rendering: crispEdges;
}

.foreground path {
      fill: none;
              stroke: steelblue;
                        stroke-opacity: .7;
}

.brush .extent {
      fill-opacity: .3;
        stroke: #fff;
                  shape-rendering: crispEdges;
}

.axis line, .axis path {
      fill: none;
              stroke: #000;
                        shape-rendering: crispEdges;
}

.axis text {
      text-shadow: 0 1px 0 #fff;
        cursor: move;
}

.area {
    opacity: 1;
}

.area:hover {
    opacity: 0.5;
}

.maindisplay{
    display: inline-block;
}

.part {
    width: 1120px;
    display: block;
    padding: 25px 0;
}
.part.top span {
    display: block;
    padding-left: 20px;
    font-size: 20px;
    letter-spacing: 20px;
}

.path.area {
    stroke-width: 3px;
}
