body {
    background-color: #222;
    color: #fff;
    font-family: "Quattrocento Sans", sans-serif;
    overflow: scroll;
}

#outerrow {
    width: 1120px;
}

svg {
      font: 8px;
}

.foreground path {
    fill: sienna;
    stroke: tomato;
    stroke-width: 1px;
}

.axis line, .axis path {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    opacity: 0.5;
}

.axis .tick line{
display: none;
}
.axis text {
    font-size: 8px;
    fill: #fff;
    stroke-width: 0px;
    opacity: 0.8;
}
.axis text.label{
    font-size: 12px;
}

.maindisplay{
    display: inline-block;
}

.area {
    opacity: 0.05;
}

path.Median {
    opacity: 1;
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

#seattlemap .area{
    fill: sienna;
    stroke:#fff;
    stroke-width: 0.5px;
    opacity: 0.5;
}

#leftcolumn {
    width: 800px;
    display: inline-block;
}
#leftcolumn span {
    display: block;
    padding: 20px 20px 0;
}
#leftcolumn #top {
    font-size: 32px;
    color: tomato;
    font-weight: 700;
    letter-spacing: 4px;
}

#leftcolumn #top span#date {
    display:inline;
    font-size: 16px;
    color: sienna;
    font-weight: 700;
    letter-spacing: 2px;
}


#leftcolumn #controlpanel {
    height: 160px;
    padding: 10;
    margin: 20px 85px 0 20px;
background-image: -o-linear-gradient(bottom, sienna 0%, #222 90%);
background-image: -moz-linear-gradient(bottom, sienna 0%, #222 90%);
background-image: -webkit-linear-gradient(bottom, sienna 0%, #222 90%);
background-image: -ms-linear-gradient(bottom, sienna 0%, #222 90%);
background-image: linear-gradient(to bottom, sienna 0%, #222 90%);
}

#leftcolumn #controlpanel span {
display: block;
         vertical-align: top;
}

#leftcolumn #controlpanel #localdistrict {
    color: #222;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

#rightcolumn{
    display: inline-block;
    width: 310px;
}

