body {
    background-color: #333;
    color: #fff;
    font-family: "Quattrocento Sans", sans-serif;
}



svg {
      font: 8px;
}

.foreground path {
    fill: sienna;
    stroke: tomato;
    stroke-width: 1px;
}

.axis line, .axis path {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    opacity: 0.5;
}

.axis text {
    font-size: 8px;
    color: #fff;
    stroke-width: 0px;
    opacity: 0.8;
}
.axis text.label{
    font-size: 12px;
}

.maindisplay{
    display: inline-block;
}

.area {
    opacity: 0.1;
    fill: steelblue;
}

#seattlemap .area{
    fill: sienna;
}

#leftcolumn {
    width: 800px;
    display: inline-block;
}
#leftcolumn span {
    display: block;
    padding: 20px 20px 0;
}
#leftcolumn #top {
    font-size: 32px;
    color: tomato;
    font-weight: 700;
    letter-spacing: 4px;
}

#leftcolumn #top span#date {
    display:inline;
    font-size: 16px;
    color: sienna;
    font-weight: 700;
    letter-spacing: 2px;
}

#leftcolumn #localdistrict {
    letter-spacing: 0px;
}

#leftcolumn #controlpanel {
    height: 180px;
}

#rightcolumn{
    display: inline-block;
    width: 320px;
}
