body {
    background-color: #333;
color: #fff;
}
svg {
      font: 10px sans-serif;
}

.background path {
      fill: none;
              stroke: #ccc;
                        stroke-opacity: .4;
                          shape-rendering: crispEdges;
}

.foreground path {
    fill: steelblue;
    stroke: steelblue;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line, .axis path {
    fill: none;
    stroke: #fff;
    opacity: 0.5;
}

.axis text {
    font-size: 8px;
    stroke: #fff;
    opacity: 0.5;
}

.maindisplay{
    display: inline-block;
}

.area {
    opacity: 0.1;
    fill: steelblue;
}

.part {
    width: 1120px;
    display: block;
    padding: 25px 0;
}
.part.top span {
    display: block;
    padding-left: 20px;
    font-size: 20px;
    letter-spacing: 20px;
}

